<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
<p><%= notice %></p>

<h1>Topics一覧</h1>
<%= link_to "トピックを作成する", new_topic_path, class: 'btn btn-default' %>
<% @topics.each do |topic| %>
<h3><%= topic.user_id %></h3>
<div class="row">
 <p>トピック:<%= topic.content %></p>
 <%= link_to "編集", edit_topic_path(topic.id), class: 'btn btn-default btn-sm btn-success' %>
 <%= link_to "削除", topic_path(topic.id), method: :delete, data: {confirm:"本当に削除しますか？"}, class: 'btn btn-default btn-sm btn btn-danger' %>
<% end %>
