<div class="container">
  <h1>フォロー</h1>
        <% @user.followed_users.each do |user| %>
        <h2><%= user.name %></h2>
        <%= profile_img(user) %><br>
        <%= user.email %><br>
        <%= render 'follow_form', user: user %>
      </div>
<% end %>
</div>

<div class="container">
  <h1>フォロワー</h1>
<% @user.followers.each do |user| %>
    <h2><%= user.name %></h2>
        <%= profile_img(user) %><br>
        <%= user.email %><br>
        <%= render 'follow_form', user: user %>
      </div>
<% end %>
</div>
